:root{
    --blanco: #FFFFFF;
    --negro: rgb(0,0,0);
    --primario: rgba(255,193,7,1);
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory;
}

*,*:before, *:after{
    box-sizing: inherit;
}

p{
    line-height: 2;
}

body{
    font-family: 'krub', sans-serif;
    /*Cambiar color de fondo html*/
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
}

.titulo{
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}

.container{
    width: 100%;
    margin: 0 auto;
}

h2{
    font-size: 1.4rem;
}

h2 span{
    font-size: 1.4rem;
}

h1, h2, h3{
    text-align: center;
}

h3{
    color: var(--secundario);
    font-weight: 400;
    font-size: 1.6rem;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.shadow{
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63); ;
}

.nav-bg{
    background-color: var(--secundario);
}

.nav-principal{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-principal{
    display: flex;
    flex-direction: column;
}

@media(min-width:768px){
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 710;
}*/

.nav-principal a{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 400;
}

.nav-principal a:hover{
    background-color: var(--primario);
    text-decoration: none;
    color: var(--negro);
}

.navegacion-principal a:last-of-type{
    margin-bottom: 0;
}

@media (min-width:768px){
    .navegacion-principal{
        margin-bottom: 0;
    }
}

/*redimensionar imagen*/
.image{
    background-image: url(/img/hero.jpg);
    height: 450px;
    width: 100%;
    background-size: 100%;
    margin-bottom: 2rem;
    position: relative;
}

/*Cambiar color de imagen*/
.contenido-imagen{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-imagen h1,
.contenido-imagen p{
    color: var(--blanco);
}


/*Dar estilos al boton*/
.button{
    background-color: var(--secundario);
    color: var(--blanco);
    margin-top: .5rem ;
    padding: .5rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
}

.button:hover{
    background-color: var(--primario);
    text-decoration: none;
    color: var(--negro);
    cursor: pointer;
}

.services{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media(min-width:768px){
    .services{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        column-gap: 1rem;
    }
}

.servicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons{
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
} 

/*.icons svg{
    font-size: 2rem;
    color: var(--negro);
}*/

.formulario{
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.formulario legend{
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

@media(min-width:768px){
    .formulario{
        max-width: 800px;
        margin: 0 auto;
    }
}

.container-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.camp{
    margin-bottom: 1rem;
    width: 100%;
}

@media(min-width:480px){
    .camp{
        display: flex;
        align-items: center;
    }
}

@media(min-width:768px){
    .camp{
        flex: 0 0 calc(50% - 0.5rem);
        margin: 0 auto;
    }
}

.camp label{
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}

@media(min-width:480px){
    .camp label{
        flex:0 0 90px;
    }
}