:root{
    --blanco: #FFFFFF;
    --negro: rgb(0,0,0);
    --primario: rgba(255,193,7,1);
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,*:before, *:after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body{
    font-size: 1em;
    font-family: 'krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.nav-principal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media(min-width:768px){
    .nav-principal{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 710;
}

.nav-principal a:hover{
    background-color: var(--primario);
    text-decoration: none;
    color: var(--negro);
}

/*redimensionar imagen*/
.image{
    background-image: url(/img/design-html-web-design-template-concept.jpg);
    height: 450px;
    width: 100%;
    background-size: 100%;
    margin-bottom: 2rem;
    position: relative;
}

/*Cambiar color de imagen*/
.contenido-imagen{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.contenido-imagen h1,
.contenido-imagen p{
    color: var(--blanco);
}